.hero{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem
}

.hero img{
    margin-top: 2rem;
    border-radius: 100rem
}    

.hero h1{
    text-align: center;
    width: 80%;
    font-size: 5rem;
    font-weight: 700
}

.hero span{
    color: aqua;
    background-clip: text
}

.hero p{
    font-size: 5rem
}

.hero-action{
    display: flex;
    gap: 15rem;
    font-size: 3rem;
    color:white;
    font-weight:bold;
   
   
    
}
.hero-action a{
     text-decoration: none;
     color: white;
     
}

.hero-connect{
     padding: 3rem;
     background-color: black;
     border-radius: 100rem;
     border: 1rem solid 
}

.resume{
    padding: 4rem;
    background-color: black;
    border-radius: 100rem;
    border: 1rem solid 
    
   
}

.hero-connect:hover{
    background-color: aqua;
    cursor: pointer

}

.resume:hover{
    background-color: aqua;
    cursor: pointer

}